<p>List All posts</p>

<div style="text-align: center">
  @for (post of posts; track post.postId) {
    <div class="card">
      <div class="container">
        <div>
          @for (category of post.categories; track category.categoryId) {
            <span
              class="badge"
              [ngStyle]="{ 'background-color': category.css_color }">
              {{ category.title }}
            </span>
          }
        </div>
      </div>
      <h4>
        <b>Title: {{ post.title }}</b>
      </h4>
      <p>Description: {{ post.description }}</p>
      <p>Likes: {{ post.num_likes }}</p>
      <p>Dislikes: {{ post.num_dislikes }}</p>
      <p>Publication date: {{ post.publication_date | formatDate: 3 }}</p>
      <p>Published by: {{ post.userAlias }}</p>
      @if (showButtons) {
        <div>
          <button (click)="like(post.postId)">Like</button>
          <button (click)="dislike(post.postId)">Dislike</button>
        </div>
      }
    </div>
  }
</div>
