<div style="margin-left: auto; margin-right: auto">
  <p id="postFeedback"></p>
</div>
<div>
  <h1>Post form</h1>
  @if (postForm) {
    <form [formGroup]="postForm" (ngSubmit)="savePost()">
      <div>
        <label for="title">Title:</label>
        <input id="title" type="text" [formControl]="title" />
        @if (title.errors && isValidForm !== null && !isValidForm) {
          <div [ngClass]="'error'">
            @if (title.errors.required) {
              <div>Title is required</div>
            } @else if (title.errors.maxlength) {
              <div>Title can be max 55 characters long.</div>
            }
          </div>
        }
      </div>
      <div>
        <label for="description">Description:</label>
        <input id="description" type="text" [formControl]="description" />
        @if (description.errors && isValidForm !== null && !isValidForm) {
          <div [ngClass]="'error'">
            @if (description.errors.required) {
              <div>Description is required</div>
            } @else if (description.errors.maxlength) {
              <div>Description can be max 255 characters long.</div>
            }
          </div>
        }
      </div>
      <div>
        <label for="publicationDate">Publication date: </label>
        <input
          id="publicationDate"
          type="date"
          [formControl]="publication_date" />
        @if (publication_date.errors && isValidForm !== null && !isValidForm) {
          <div [ngClass]="'error'">
            @if (publication_date.errors.required) {
              <div>Publication date is required</div>
            }
          </div>
        }
      </div>
      <div>
        <label for="categories">Choose categories:</label>
        <select id="categories" multiple [formControl]="categories">
          @for (category of categoriesList; track category.categoryId) {
            <option [ngValue]="category.categoryId">
              {{ category.title }}
            </option>
          }
        </select>
      </div>
      <button type="submit">SAVE</button>
    </form>
  }
</div>
