<div style="margin-left: auto; margin-right: auto">
  <p id="loginFeedback"></p>
</div>
<div>
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div>
      <label for="email">Email: </label>
      <input
        id="email"
        type="email"
        autocomplete="username"
        [formControl]="email" />
    </div>

    <div>
      <label for="password">Password: </label>
      <input
        id="password"
        type="password"
        autocomplete="current-password"
        [formControl]="password" />
    </div>

    <button type="submit" [disabled]="!loginForm.valid">Login</button>
  </form>
</div>

@if (email.errors && (email.touched || email.dirty)) {
  <span style="color: red">
    @if (email.errors.required) {
      <span>Email is required</span>
    } @else if (email.errors.pattern) {
      <div>Email not a valid format.</div>
    }
  </span>
}

@if (password.errors && (password.touched || password.dirty)) {
  <span style="color: red">
    @if (password.errors.required) {
      <span>Password is required</span>
    } @else if (password.errors.minlength) {
      <span>Password must be greater tha 8 characters</span>
    } @else if (password.errors.maxlength) {
      <span>Password can be max 16 characters long</span>
    }
  </span>
}
