<div style="margin-left: auto; margin-right: auto">
  <p id="registerFeedback"></p>
</div>
<div>
  <h1>Register</h1>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div>
      <label for="name">Name: </label>
      <input
        id="name"
        type="text"
        autocomplete="given-name"
        [formControl]="name" />
      @if (name.errors && isValidForm !== null && !isValidForm) {
        <div [ngClass]="'error'">
          @if (name.errors.required) {
            <div>Name is required</div>
          } @else if (name.errors.minlength) {
            <div>Name must be at least 5 characters long.</div>
          } @else if (name.errors.maxlength) {
            <div>Name can be max 25 characters long.</div>
          }
        </div>
      }
    </div>
    <div>
      <label for="surname1">Surname1: </label>
      <input
        id="surname1"
        autocomplete=""
        type="text"
        [formControl]="surname_1" />
      @if (surname_1.errors && isValidForm !== null && !isValidForm) {
        <div [ngClass]="'error'">
          @if (surname_1.errors.required) {
            <div>Surname1 is required</div>
          } @else if (surname_1.errors.minlength) {
            <div>Surname1 must be at least 5 characters long.</div>
          } @else if (surname_1.errors.maxlength) {
            <div>Surname1 can be max 25 characters long.</div>
          }
        </div>
      }
    </div>
    <div>
      <label for="surname2">Surname2: </label>
      <input id="surname2" type="text" [formControl]="surname_2" />
      @if (surname_2.errors && isValidForm !== null && !isValidForm) {
        <div [ngClass]="'error'">
          @if (surname_2.errors.minlength) {
            <div>Surname2 must be at least 5 characters long.</div>
          } @else if (surname_2.errors.maxlength) {
            <div>Surname2 can be max 25 characters long.</div>
          }
        </div>
      }
    </div>
    <div>
      <label for="alias">Alias: </label>
      <input
        id="alias"
        type="text"
        autocomplete="nickname"
        [formControl]="alias" />
      @if (alias.errors && isValidForm !== null && !isValidForm) {
        <div [ngClass]="'error'">
          @if (alias.errors.required) {
            <div>Alias is required</div>
          } @else if (alias.errors.minlength) {
            <div>Alias must be at least 5 characters long.</div>
          } @else if (alias.errors.maxlength) {
            <div>Alias can be max 25 characters long.</div>
          }
        </div>
      }
    </div>
    <div>
      <label for="birthDate">Birth date: </label>
      <input
        id="birthDate"
        type="date"
        autocomplete="bday"
        [formControl]="birth_date" />
      @if (birth_date.errors && isValidForm !== null && !isValidForm) {
        <div [ngClass]="'error'">
          @if (birth_date.errors.required) {
            <div>Birth date is required</div>
          }
        </div>
      }
    </div>
    <div>
      <label for="email">Email: </label>
      <input
        id="email"
        type="email"
        autocomplete="email"
        [formControl]="email" />
      @if (email.errors && isValidForm !== null && !isValidForm) {
        <div [ngClass]="'error'">
          @if (email.errors.required) {
            <div>Email is required</div>
          } @else if (email.errors.pattern) {
            <div>Email not a valid format.</div>
          }
        </div>
      }
    </div>

    <div>
      <label for="password">Password: </label>
      <input
        id="password"
        type="password"
        autocomplete="new-password"
        [formControl]="password" />
      @if (password.errors && isValidForm !== null && !isValidForm) {
        <div [ngClass]="'error'">
          @if (password.errors.required) {
            <div>Password is required</div>
          } @else if (password.errors.minlength) {
            <div>Password must be at least 8 characters long.</div>
          }
        </div>
      }
    </div>

    <button type="submit">Register</button>
  </form>
</div>
